venv
.DS_Store
.idea
.ipynb_checkpoints/
Reactome/ReactomePathways.gmt
Reactome/ReactomePathways.zip
PanCancer/
ptrc/
combine_and_log.ipynb

# protected curated files
*TGFb signatures*
*DDR*
*PTRC_DQ_list*